# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle specific
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE-specific
.idea/
*.iml
*.iws
*.ipr

# Compiled Java classes and JAR files
*.class
*.jar

# Logs
*.log

# Eclipse specific
bin/
.settings/
.classpath
.project

# Mac specific
.DS_Store

# Intellij specific
out/
